<div class="col-sm-8 col-sm-offset-2 col-lg-9 col-lg-offset-3 main" style="margin-left: 200px; margin-top: 50px;">
    <div class="panel panel-container">
        <div class="panel-body">
            <div class="col-md-12">
                <form class="form-horizontal" [formGroup]="storeForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <div class="col-sm-7">
                            <input type="text" class="form-control" formControlName="name" placeholder="name">
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <div class="col-sm-7">
                            <input type="text" class="form-control" formControlName="description"
                                placeholder="description">
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <div class="col-sm-7">
                            <input type="text" class="form-control" formControlName="email" placeholder="email">
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <div class="col-sm-7">
                            <input type="text" class="form-control" formControlName="image" placeholder="image url">
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <div class="col-sm-7">
                            <input type="text" class="form-control" formControlName="category" placeholder="category">
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <div class="col-sm-7">
                            <input type="text" class="form-control" formControlName="address" placeholder="address">
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <div class="col-sm-7">
                            <input type="text" class="form-control" formControlName="geolocation"
                                placeholder="geolocation">
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-7">
                          <a [routerLink]="['/stores']" class="button-cancel btn btn-danger" style="margin-right: 100px;">Cancel</a>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </div>

                </form>
            </div>
        </div>
    </div>